h1{
        height: auto;
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        text-align: center;
      }
*{
    background-color: black;
}
img{
    height: 500px;
    width: 500px;
    border: 5px solid white;
    margin-left: 30%;
}
p{
    height: auto;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center 
    
    
}
div{
    margin-top: 10%;
    margin-left: 20%;
    width: 65%;
    text-transform: uppercase;
}  